header{
    align-content: center;
    display: flex;
}


body {
    min-height: 100vh;
  }

.top-image{
  background-image: url("alora-griffiths-E3wehabi_B4-unsplash (1).jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 150vh;
}
main{
  background-color: rgb(30, 29, 29);
}

.articles{
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 77px;
  column-gap: 128px;
  margin-top: 50px;
  padding: 150px;
}

.article-img{
  max-width: 500px;
  max-height: 500px;
}

.articles-container{
  background-color: rgb(188, 185, 185);
  padding: 50px;
}

article{
  
}