.header{
    align-content: center;
}

body {
    background-image: url("alora-griffiths-E3wehabi_B4-unsplash (1).jpg");
    background-size:cover
  }


.header-nav{
    text-align: center;
}

.header-nav a:hover {
    text-decoration: underline;
    color: rgba(110, 110, 238, 0.749);
    cursor: pointer;
  }

a{
    color: aliceblue;
    font-size: 18px;
    margin-left: 15px;
    font-weight: 500;
}